.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 10px;
}

.dialogsItem .active {
    color: brown;
}

.messages {
    padding: 10px;
}

.message {
    color: white;
}

.messageBox {
    margin-top: 20px;
}